@mixin normal-block-color {
  background: white;
  color: $company-branding-color;  
}

@mixin hover-block-color {
  background: $company-branding-color;
  color: white;  
}

@mixin link-style {
  display: block;
  &, &:visited, &:focus, &:hover, &:active {
    text-decoration: none;
    padding: 10px 10px;
  }
}
