/* Mobile first styles go here */
.container { margin: 0 auto; padding: 0 10px; max-width: 1000px; }
.row::before, .row::after { display: table; content: ' '; clear: both; }
.col { float: left; }
.one, .one-third, .two-thirds, .one-fourth, .half, .one-twelve { width: 100%; }
.nav-dropdown { position: static; }
.nav-bar { display: none; &.active { display: block; }}
a, ul { text-align: start; .sub-menu { &, &:hover, &:focus, &:active {padding: 10px 40px; }}}

.full-nav {
  .branding {
    font-size: 1.5em;
    a {text-align: center;padding: 9px 0px;}
    width: 90%;
  }
}

/* Desktop styles go here */
@media screen and (min-width: 800px) {
  .one { width: 100%; }
  .half { width: calc(100% / 2); }
  .one-third { width: calc(100% / 3); }
  .one-fourth { width: calc(100% / 4); }
  .two-thirds { width: calc(100% / 3 * 2); }
  .one-twelve { width: calc(100% / 12);}
  .col { float: left; }
  .nav-dropdown { position: absolute; }
  .nav-bar { display: block; }
  a, ul { text-align: center; .sub-menu { &, &:hover, &:focus, &:active {padding: 10px 10px;}}}
  .burger { display: none; }

  .full-nav {
    .branding {
      width: 20%;
      a { padding: 5px;}
    }
  }
  
}